src/xsdFile/DealerPortal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Email" type="xs:string"/>
  <xs:element name="First_name" type="xs:string"/>
  <xs:element name="Last_name" type="xs:string"/>
  <xs:element name="Secondary_owner_or_company" type="xs:string"/>
  <xs:element name="Distributor_name" type="xs:string"/>
  <xs:element name="Address" type="xs:string"/>
  <xs:element name="Address2" type="xs:string"/>
  <xs:element name="City" type="xs:string"/>
  <xs:element name="Province" type="xs:string"/>
  <xs:element name="Postal_code" type="xs:string"/>
  <xs:element name="Tel_home" type="xs:string"/>
  <xs:element name="Tel_work" type="xs:string"/>
  <xs:element name="Indian_status_certificate" type="xs:string"/>
  <xs:element name="Drivers_license" type="xs:string"/>
  <xs:element name="VehicleID" type="xs:string"/>
  <xs:element name="VIN" type="xs:string"/>
  <xs:element name="Branch" type="xs:string"/>
  <xs:element name="Model" type="xs:string"/>
  <xs:element name="Year" type="xs:string"/>
  <xs:element name="Price" type="xs:string"/>
  <xs:element name="Km" type="xs:string"/>
  <xs:element name="Condition" type="xs:string"/>
  <xs:element name="FuelType" type="xs:string"/>
  <xs:element name="Transmission" type="xs:string"/>
  <xs:element name="Cylinders" type="xs:string"/>
  <xs:element name="EngineSize" type="xs:string"/>
  <xs:element name="EngineSizeUnit" type="xs:string"/>
  <xs:element name="Designation" type="xs:string"/>
  <xs:element name="IsTurboEngine" type="xs:string"/>
  <xs:element name="Is4X4" type="xs:string"/>
  <xs:element name="IsAllWheelDrive" type="xs:string"/>
  <xs:element name="FullCoverageEndDate" type="xs:string"/>
  <xs:element name="FullCoverageMaxMile" type="xs:string"/>
  <xs:element name="PowertrainCoverageEndDate" type="xs:string"/>
  <xs:element name="PowertrainCoverageMaxMile" type="xs:string"/>
  <xs:element name="VehicleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VehicleID"/>
        <xs:element ref="VIN"/>
        <xs:element ref="Branch"/>
        <xs:element ref="Model"/>
        <xs:element ref="Year"/>
        <xs:element ref="Price"/>
        <xs:element ref="Km"/>
        <xs:element ref="Condition"/>
        <xs:element ref="FuelType"/>
        <xs:element ref="Transmission"/>
        <xs:element ref="Cylinders"/>
        <xs:element ref="EngineSize"/>
        <xs:element ref="EngineSizeUnit"/>
        <xs:element ref="Designation"/>
        <xs:element ref="IsTurboEngine"/>
        <xs:element ref="Is4X4"/>
        <xs:element ref="IsAllWheelDrive"/>
        <xs:element ref="FullCoverageEndDate"/>
        <xs:element ref="FullCoverageMaxMile"/>
        <xs:element ref="PowertrainCoverageEndDate"/>
        <xs:element ref="PowertrainCoverageMaxMile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliveryDate" type="xs:string"/>
  <xs:element name="ComponnentName" type="xs:string"/>
  <xs:element name="WarrantyID" type="xs:string"/>
  <xs:element name="ProgramName" type="xs:string"/>
  <xs:element name="ProgramOption" type="xs:string"/>
  <xs:element name="OptionTerm" type="xs:string"/>
  <xs:element name="ExtraComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ComponnentName" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalePrice" type="xs:string"/>
  <xs:element name="FinancingCompany" type="xs:string"/>
  <xs:element name="VehicleDeliveryDate" type="xs:string"/>
  <xs:element name="SameAsDeliveryDate" type="xs:string"/>
  <xs:element name="WarrantyStartDate" type="xs:string"/>
  <xs:element name="DateOfBirth" type="xs:string"/>
  <xs:element name="Type" type="xs:string"/>
  <xs:element name="BaseAmount" type="xs:string"/>
  <xs:element name="CashDown" type="xs:string"/>
  <xs:element name="Residual" type="xs:string"/>
  <xs:element name="PaymentFrequency" type="xs:string"/>
  <xs:element name="TermMonths" type="xs:string"/>
  <xs:element name="InterestRate" type="xs:string"/>
  <xs:element name="ContractNumber" type="xs:string"/>
  <xs:element name="SalesRepName" type="xs:string"/>
  <xs:element name="DeliveredOn" type="xs:string"/>
  <xs:element name="SignedOn" type="xs:string"/>
  <xs:element name="SignedLocation" type="xs:string"/>
  <xs:element name="DiscountAmount" type="xs:string"/>
  <xs:element name="VehicleMarketValue" type="xs:string"/>
  <xs:element name="TransitAmount" type="xs:string"/>
  <xs:element name="RDPRM_Amount" type="xs:string"/>
  <xs:element name="WarrantyAmount" type="xs:string"/>
  <xs:element name="Accessories" type="xs:string"/>
  <xs:element name="AccessoriesAmount" type="xs:string"/>
  <xs:element name="NewTiresDutyAmount" type="xs:string"/>
  <xs:element name="MaintenanceScheduleAmount" type="xs:string"/>
  <xs:element name="ReplacementInsuranceAmount" type="xs:string"/>
  <xs:element name="ReplacementInsuranceContractNumber" type="xs:string"/>
  <xs:element name="LoanInsuranceAmount" type="xs:string"/>
  <xs:element name="LoanInsuranceContractNumber" type="xs:string"/>
  <xs:element name="DepositAmount" type="xs:string"/>
  <xs:element name="OtherClause" type="xs:string"/>
  <xs:element name="LicensePlateNumber" type="xs:string"/>
  <xs:element name="RealKilometers" type="xs:string"/>
  <xs:element name="AccommodationSaleContractNumber" type="xs:string"/>
  <xs:element name="TaxRegistration" type="xs:string"/>
  <xs:element name="ValueAmount" type="xs:string"/>
  <xs:element name="BalanceAmount" type="xs:string"/>
  <xs:element name="Bank" type="xs:string"/>
  <xs:element name="QuoteSaleContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ContractNumber"/>
        <xs:element ref="SalesRepName"/>
        <xs:element ref="DeliveredOn"/>
        <xs:element ref="SignedOn"/>
        <xs:element ref="SignedLocation"/>
        <xs:element ref="DiscountAmount"/>
        <xs:element ref="VehicleMarketValue"/>
        <xs:element ref="TransitAmount"/>
        <xs:element ref="RDPRM_Amount"/>
        <xs:element ref="WarrantyAmount"/>
        <xs:element ref="Accessories"/>
        <xs:element ref="AccessoriesAmount"/>
        <xs:element ref="NewTiresDutyAmount"/>
        <xs:element ref="MaintenanceScheduleAmount"/>
        <xs:element ref="ReplacementInsuranceAmount"/>
        <xs:element ref="ReplacementInsuranceContractNumber"/>
        <xs:element ref="LoanInsuranceAmount"/>
        <xs:element ref="LoanInsuranceContractNumber"/>
        <xs:element ref="DepositAmount"/>
        <xs:element ref="OtherClause"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteExchangeVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VIN"/>
        <xs:element ref="Branch"/>
        <xs:element ref="Model"/>
        <xs:element ref="Year"/>
        <xs:element ref="Cylinders"/>
        <xs:element ref="LicensePlateNumber"/>
        <xs:element ref="Km"/>
        <xs:element ref="RealKilometers"/>
        <xs:element ref="AccommodationSaleContractNumber"/>
        <xs:element ref="TaxRegistration"/>
        <xs:element ref="ValueAmount"/>
        <xs:element ref="BalanceAmount"/>
        <xs:element ref="Bank"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Email"/>
        <xs:element ref="First_name"/>
        <xs:element ref="Last_name"/>
        <xs:element ref="Secondary_owner_or_company"/>
        <xs:element ref="Distributor_name"/>
        <xs:element ref="Address"/>
        <xs:element ref="Address2"/>
        <xs:element ref="City"/>
        <xs:element ref="Province"/>
        <xs:element ref="Postal_code"/>
        <xs:element ref="Tel_home"/>
        <xs:element ref="Tel_work"/>
        <xs:element ref="Indian_status_certificate"/>
        <xs:element ref="Drivers_license"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VehicleInfo"/>
        <xs:element ref="DeliveryDate"/>
        <xs:element ref="Price"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteWarranty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="WarrantyID"/>
        <xs:element ref="ProgramName"/>
        <xs:element ref="ProgramOption"/>
        <xs:element ref="OptionTerm"/>
        <xs:element ref="ExtraComponents"/>
        <xs:element ref="SalePrice"/>
        <xs:element ref="FinancingCompany"/>
        <xs:element ref="VehicleDeliveryDate"/>
        <xs:element ref="SameAsDeliveryDate"/>
        <xs:element ref="WarrantyStartDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteFinancing">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DateOfBirth"/>
        <xs:element ref="Type"/>
        <xs:element ref="BaseAmount"/>
        <xs:element ref="CashDown"/>
        <xs:element ref="Residual"/>
        <xs:element ref="PaymentFrequency"/>
        <xs:element ref="TermMonths"/>
        <xs:element ref="InterestRate"/>
        <xs:element ref="FinancingCompany"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QuoteSaleContract"/>
        <xs:element ref="QuoteExchangeVehicle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QuoteClient"/>
        <xs:element ref="QuoteVehicle"/>
        <xs:element ref="QuoteWarranty"/>
        <xs:element ref="QuoteFinancing"/>
        <xs:element ref="QuoteSale"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealerPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QuoteInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>